<div class="grid grid-cols-3 grid-flow-row">
    <%for(let i = 0; i < products.length; i++){%>
        <div>
            <p><%=products[i].productName%></p>
            <p><%=products[i].productDescription%></p>
            <p><%=products[i].productPrice%></p>
            <p><%=products[i].productRating%></p>
            <p><%=products[i].productBrand%></p>
            <img src="https://vnumcewwzabqbcvnrccq.supabase.co/storage/v1/object/public/images/products/<%=products[i].productImageID%>" alt="">
        </div>
        <%}%>
 </div>