



<section id="catalog" class="w-full py-12">
    <span class="text-center">
        <p class="text-zinc-800 font-SatoshiBold text-4xl">Browse Our Catalog</p>
        <p class="text-faded-jade-500">Explore a variety of Filipino Products!</p>
    </span>
    <div class="h-full flex flex-row flex-wrap items-center justify-center py-12 gap-4 text-center">
        <a href="/catalog/games" class="aspect-[5/7] w-64 ">
            <img src="https://vnumcewwzabqbcvnrccq.supabase.co/storage/v1/object/public/images/display/catalog_img_4.jpg" class="hover:scale-[1.03] transition-all duration-300 ease-in-out object-cover rounded-lg w-full h-full" alt="">
            <p class="text-xl font-SatoshiBold text-zinc-800 mt-8">Games</p>
        </a>
        <a href="/catalog/clothing" class="aspect-[5/7] w-64 ">
            <img src="https://vnumcewwzabqbcvnrccq.supabase.co/storage/v1/object/public/images/display/catalog_img_1.jpeg" class="hover:scale-[1.03] transition-all duration-300 ease-in-out object-cover rounded-lg w-full h-full" alt="">
            <p class="text-xl font-SatoshiBold text-zinc-800 mt-8">Clothing</p>
        </a>
        <a href="/catalog/souvenirs" class="aspect-[5/7] w-64 ">
            <img src="https://vnumcewwzabqbcvnrccq.supabase.co/storage/v1/object/public/images/display/catalog_img_5.jpg" class="hover:scale-[1.03] transition-all duration-300 ease-in-out object-cover rounded-lg w-full h-full" alt="">
            <p class="text-xl font-SatoshiBold text-zinc-800 mt-8">Souvenirs</p>
        </a>
        <a href="/catalog/delicacies" class="aspect-[5/7] w-64 ">
            <img src="https://vnumcewwzabqbcvnrccq.supabase.co/storage/v1/object/public/images/display/catalog_img_2.jpg" class="hover:scale-[1.03] transition-all duration-300 ease-in-out object-cover rounded-lg w-full h-full" alt="">
            <p class="text-xl font-SatoshiBold text-zinc-800 mt-8">Delicacies</p>
        </a>
        <a href="/catalog/literature" class="aspect-[5/7] w-64 ">
            <img src="https://vnumcewwzabqbcvnrccq.supabase.co/storage/v1/object/public/images/display/catalog_img_3.jpeg" class="hover:scale-[1.03] transition-all duration-300 ease-in-out object-cover rounded-lg w-full h-full" alt="">
            <p class="text-xl font-SatoshiBold text-zinc-800 mt-8">Literatures</p>
        </a>
    </div>
</section>



<section id="browse" class="w-full max-w-7xl mx-auto py-12">
    <div class="flex flex-col items-center justify-center gap-12">
        <p class="text-4xl text-zinc-800 font-SatoshiBold ">Our Products</p>
        <div class="flex flex-row flex-wrap mx-auto w-full gap-4 justify-center">
            <%for(let i = 0; i < products.length; i++){%>
                <div class="max-w-64">
                    <a href="/product/<%=products[i].product_id%>" class="flex flex-col">
                        <div class="flex flex-col bg-slate-100 text-zinc-800 relative">
                            <div class="flex">
                                <img src="https://vnumcewwzabqbcvnrccq.supabase.co/storage/v1/object/public/images/products/<%=products[i].productImageID%>" alt="" class=" w-64 aspect-[4.7/5] object-cover h-full"> 
                            </div>
                            <div class="z-10 flex justify-center absolute inset-0 group overflow-hidden">
                                <div class="absolute flex inset-0 top-full group-hover:top-0 opacity-0 group-hover:opacity-40 transition-all duration-500 ease-in-out bg-black w-full h-full">
                                    &nbsp;
                                </div>
                                <div class="absolute flex flex-col items-center justify-center gap-4 w-full h-full">
                                    <a class="bg-white border font-semibold text-sm text-faded-jade-500 text-center p-3 w-full max-w-48
                                    opacity-0 group-hover:opacity-100 transition-all duration-500 ease-in-out
                                    ">
                                        Add To Cart
                                    </a>
                                    <a href="/product/<%=products[i].product_id%>" class="bg-white border font-semibold text-sm text-faded-jade-500 text-center p-3 w-full max-w-48
                                    opacity-0 group-hover:opacity-100 transition-all duration-500 ease-in-out
                                    ">
                                        View Product
                                    </a>
                                </div>
                            </div>
                            <div class="p-4">
                                <div class="font-bold line-clamp-2 break-words max-h-14 min-h-14 text-ellipsis"><%=products[i].productName%></div>
                                <div class="text-zinc-600"><%=products[i].productBrand%></div>
                                <div class="font-semibold">php<%=products[i].productPrice%></div>
                            </div>
                        </div>
                    </a>
                </div>
                
                <%}%>
         </div>
         <a href="/catalog/page/1" class="border-faded-jade-500 border bg-rum-swizzle-50 text-faded-jade-500 font-bold w-64 text-center py-4 hover:bg-faded-jade-100 duration-300 transition-all ease-in-out">SHOW MORE</a>
    </div>
    
</section>
