<div class="flex flex-row bg-rum-swizzle-50 h-24 items-center px-24 mt-4">
    <div class="border-r-2 border-black pr-4 mr-4 flex flex-row gap-4 items-center font-semibold ">
        <a class="opacity-40" href="/">Home</a>
        <a class="text-2xl font-bold"> > </a>
        <a class="opacity-40" href="/catalog">Catalog</a>
        <a class="text-2xl font-bold"> > </a>
        <a class="opacity-40 capitalize" href="/catalog/<%=product.catalog%>" ><%=product.catalog%></a>
    </div>
    <a><%=product.productName%></a>
</div>

<div class="w-full relative flex flex-row justify-center max-w-5xl mx-auto gap-12 mt-8">
    <div class="aspect-[4.5/5] h-full w-full max-w-sm min-w-[24rem]">
        <img src="https://vnumcewwzabqbcvnrccq.supabase.co/storage/v1/object/public/images/products/<%=product.productImageID%>" alt="" class="w-full object-cover h-full rounded-xl">
    </div>
    <div class="flex flex-col gap-2 w-full justify-between">
        <div class=" flex flex-col">
            <p class="text-3xl font-semibold"><%=product.productName%></p>
            <p class="text-xl font-semibold opacity-40 tracking-wide">₱<%=product.productPrice%>.00</p>
            <p>⭐⭐⭐⭐⭐</p>
            <div class="max-w-lg">
                <p><%=product.productDescription%></p>
            </div>
        </div>
        <div>
            <div class="border-2 border-black rounded-lg w-fit font-semibold  text-2xl text-center p-4">
                <a href="">Add To Cart</a>
            </div>
            
        </div>
        
    </div>
</div>