<div class="grid grid-cols-4 grid-flow-row gap-8 max-w-5xl">
            <div class="aspect-[5/4] w-auto max-w-[14rem] overflow-hidden relative">
                <img src="https://vnumcewwzabqbcvnrccq.supabase.co/storage/v1/object/public/images/products/<%=product.productImageID%>" alt="" class="w-full object-cover h-full rounded-2xl">
            </div>
            <p class="font-bold"><%=product.productName%></p>
            <p><%=product.productDescription%></p>
            <span class="flex flex-row justify-between items-center">
                <p><%=product.productBrand%></p>
                <p class="font-bold text-xl">₱<%=product.productPrice%></p>
            </span>

 </div>